# Игнорировать виртуальное окружение
venv/

# Игнорировать файлы Python byte-compiled
*.pyc
__pycache__

# Игнорировать файлы логов и временные файлы
*.log
*.pot
*.pyo
*.swp
*~
__pycache__/

# Игнорировать файлы, созданные IDE и редакторами
.vscode/
.idea/
*.code-workspace

# Игнорировать базы данных SQLite
*.sqlite3
*.db

# Игнорировать файлы конфигурации
*.env

# Игнорировать файлы настройки
settings.ini

# Игнорировать медиафайлы
media/