{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static '/css/users.css' %}">
</head>
<body>
    <div class="registration-form">
        <h2>Регистрация</h2>
        <form action="/registration" method="post">
            {% csrf_token %}

            <label for="{{ form.username.id_for_label }}" class="form-control py-3">Имя пользователя</label>
            {{ form.username }}

            <label for="{{ form.first_name.id_for_label }}" class="form-control py-3">Имя</label>
            {{ form.first_name }}

            <label for="{{ form.last_name.id_for_label }}" class="form-control py-3">Фамилия</label>
            {{ form.last_name }}

            <label for="{{ form.email.id_for_label }}" class="form-control py-3">Email:</label>
            {{ form.email }}

            <label for="{{ form.password1.id_for_label }}" class="form-control py-3">Пароль</label>
            {{ form.password1 }}

            <label for="{{ form.password2.id_for_label }}" class="form-control py-3">Повторите пароль</label>
            {{ form.password2 }}
            <button type="submit">Зарегистрироваться</button>
        </form>
        <a href="/login">Уже есть аккаунт? Войдите</a>
    </div>
</body>
</html>
