{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static '/css/hotelrooms.css' %}">
    <link rel="stylesheet" href="{% static '/css/base_styles.css' %}">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
{% endblock %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{ title }</title>
</head>
<body>
    <header>
        <!-- Ваш код для хедера -->
    </header>
    {% block information %}

    <aside class="category-panel">
        <h3>Категории номеров</h3>
        {% for category in Categories %}
                <li><a href="#">{{ category.name }} | Свободных номеров этого типа: {{ category.free_rooms }}</a></li>
        {% endfor %}
    </aside>

    <main>
        <section class="rooms">

            {% for rooms in Room %}
                {% if rooms.reservation == 0 %}
                    <article class="room">

                        <h2>Номер {{ rooms.room_class }}</h2>

                        <div class="room-info">
                            <div class="room-text">
                                <p>Краткое описание номера:</p>
                                <p>Цена: {{ rooms.price_night }}$/ночь</p>
                                <p>Персон: {{ rooms.guests }}</p>
                                <p>Количество кроватей:{{ rooms.number_of_beds }}</p>
                                <li><a href="{% url 'indetail' rooms.id %}">Перейти</a></li>
                            </div>
                            <div class="room-photo">
                                <img src="{{ rooms.room_image.url }}" alt="Фотография номера">
                            </div>
                        </div>
                    </article>
                {% else %}

                {% endif %}
            {% endfor %}
        </section>
    </main>

    {% endblock %}
    <footer>
        <!-- Ваш код для футера -->
    </footer>
</body>
</html>