body {
    font-family: Arial, sans-serif;
}

/* Стили для основного блока с номерами */
.rooms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.room {
    width: 45%;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.room h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #3C66A5;
}

.room-info {
    background-color: #3C66A5; /* Голубой цвет фона */
    border-radius: 10px; /* Срезанные углы */
    padding: 10px;
    color: #000; /* Черный текст */
    text-align: center;
}

.room-text {
    padding: 10px;
}

.room-photo img {
    width: 100%;
    height: auto;
}

/* Стили для слайдера внизу фотографии */
.room-photo {
    position: relative;
    overflow: hidden;
    height: 200px; /* Высота слайдера */
}

.room-photo img {
    position: absolute;
    left: 0;
    transition: transform 0.5s ease;
}

.room-photo img:hover {
    transform: scale(1.2); /* Увеличение при наведении */
}

.category-panel {
    background-color: #3C66A5; /* Голубой фон */
    padding: 20px;
    width: 15%; /* Ширина панели */
    border-radius: 20px;
    margin: 10 auto;
}

.category-panel h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #FFFFFF; /* Голубой цвет текста */
    font-weight: bold; /* Жирный текст */
}

.category-panel ul {
    list-style: none;
    padding: 0;
}

.category-panel li {
    margin-bottom: 10px;
}

.category-panel a {
    text-decoration: none;
    color: #000; /* Голубой цвет текста */
    font-weight: bold; /* Жирный текст */
    font-size: 16px;
    color: #FFFFFF;
}