{% load static %}
<!doctype html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	{% block css %}
	<link rel="stylesheet" href="{% static '/css/base_styles.css' %}">
	<link rel="stylesheet" href="/static/css/main.css">
	{% endblock %}
	<script src="{% static '/js/index.js' %}"></script>



</head>
<body>
<!-- navbar -->
<div class="nav-container">
	<div class="container">
		<nav>
			<ul class="navbar-left">
				<a href="#">
					<li>Русский язык</li>
				</a>
			</ul>
			<ul class="navbar-right">
				<a href="#" style="font-weight: bold">
					<li>Главная</li>
				</a>
				<a href="{% url 'hotelrooms' %}">
					<li>Доступные номера</li>
				</a>
				<a href="#">
					<li>Наши социальные сети</li>
				</a>
				<a href="{% url 'feedback' %}">
					<li>Контакты</li>
				</a>
				<a href="{% url 'about' %}">
					<li>О нас</li>
				</a>
			</ul>
		</nav>
	</div>
</div>
<!-- navbar end -->

<!-- top banner -->
<div class="top-banner-block">
	<div class="container">
		<div class="top-logo">
			<img src="{% static '/imgs/top_logo.png' %}"/>
		</div>

		<div class="top-banner-informationContainer">
			<div class="top-banner-row">
				<p>Город</p>
				<input type="text" placeholder="Москва">
			</div>
			<div class="top-banner-row">
				<p>Заезд</p>
				<input type="text" placeholder="01.01.1970">
			</div>
			<div class="top-banner-row">
				<p>Выезд</p>
				<input type="text" placeholder="01.01.1970">
			</div>
			<div class="top-banner-row">
				<p>Комнаты и гости</p>
				<input type="text" placeholder="1 номер(-а), 2 Гостя">
			</div>
			<div>
				<button class="top-banner-findBtn">Найти</button>
			</div>
		</div>
	</div>
</div>
<!-- top banner end -->

{% block information %} {% endblock %}

{% block footer %} {% endblock %}

{% block adversting %} {% endblock %}

{% block location %} {% endblock %}

<!-- footer -->
<div class="container">
	<hr class="custom-separator">

	<footer>
		<img src="{% static '/imgs/top_logo.png' %}" class="footer-logo" />

		<ul class="footer-row-1">
			<a href="#">
				<li>Доступные номера</li>
			</a>
			<a href="#">
				<li>Наши социальные сети</li>
			</a>
			<a href="#">
				<li>Поддержка</li>
			</a>
			<a href="#">
				<li>О нас</li>
			</a>
		</ul>
		<hr class="custom-separator">
		<p class="footer-p-safe">Безопасность</p>
		<p>Наши партнёры по проведению платежей гарантируют безопасность ваших данных своей мировой репутацией.</p>

		<div class="footer-payment-systems">
			<img src="{% static '/imgs/visa.svg' %}" />
			<img src="{% static '/imgs/mastercard.svg' %}" />
			<img src="{% static '/imgs/mir.svg' %}" />
			<img src="{% static '/imgs/thawte.svg' %}" />
			<img src="{% static '/imgs/dss.svg' %}" />
		</div>

		<hr class="custom-separator">
		<p>Политика хранения и обработки персональных данных</p>
	</footer>
</div>
<!-- footer end -->
</body>
</html>