{% extends 'rooms/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static '/css/hotelrooms.css' %}">
    <link rel="stylesheet" href="{% static '/css/base_styles.css' %}">
	<link rel="stylesheet" href="/static/css/main.css">
{% endblock %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{ title }</title>
</head>
<body>
    <header>
        <!-- Ваш код для хедера -->
    </header>
    {% block information %}

    <aside class="category-panel">
        <h3>Категории номеров</h3>
        {% for category in categories %}
                <li><a href="#">{{ category.name }}</a></li>
        {% endfor %}
    </aside>

    <main>
        <section class="rooms">
            <article class="room">
                <h2>Номер стандартного класса</h2>
                <div class="room-info">
                    <div class="room-text">
                        <p>Описание номера стандартного класса.</p>
                        <p>Цена: $100/ночь</p>
                    </div>
                    <div class="room-photo">
                        <img src="{% static '/imgs/room1.jpg'%}" alt="Фотография номера">
                    </div>
                </div>
            </article>

            <article class="room">
                <h2>Номер люкс</h2>
                <div class="room-info">
                    <div class="room-text">
                        <p>Описание номера люкс.</p>
                        <p>Цена: $200/ночь</p>
                    </div>
                    <div class="room-photo">
                        <img src="{% static '/imgs/room2.jpg'%}" alt="Фотография номера">
                    </div>
                </div>
            </article>


        </section>
    </main>

    {% endblock %}
    <footer>
        <!-- Ваш код для футера -->
    </footer>
</body>
</html>